body {
  margin: 0;
  background-color: rgb(216, 214, 214);
}
/* Header */
.Nav {
  background-color: #515154;
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  z-index: 100;
  justify-content: space-between;
}
.items {
  width: 200px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: grid;
  align-items: center;
  justify-content: center;
}
.item {
  margin: 0px 0px 0px 50px;
}
.items:hover {
  background-color: #6d6d6e;
}
.footer {
  display: flex;

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1d1d1f;
}
.footer_item {
  width: 100%;
  display: flex;
  color: white;
  font-size: 20px;
  text-align: center;
  align-items: center;
}
.contents {
  width: 100%;
  padding-top: 10px;
}
.content {
  width: 100%;
  font-size: 15px;
  margin: 25px 0px 0px 0px;
  line-height: 50px;
}
.icon1,
.icon2,
.icon3 {
  margin: 30px 20px 0px 20px;
  font-size: 30px;
}
.icon1,
.icon3 {
  color: rgb(35, 35, 240);
}
.icon2 {
  color: rgb(181, 6, 6);
}
.list_category {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 0px 0px 0px;
}
.button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: white;
  border: 3px solid #5d5c5c;
  background-image: -webkit-linear-gradient(
    30deg,
    #0b0a0b 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #0e0d0e 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button:hover {
  background-position: 100%;
  color: rgb(0, 0, 0);
}
.product_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
  flex-wrap: wrap;
}
.ProductItem {
  height: 300px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 30px;
  align-self: flex-end;
  animation-duration: 1.5s;
  transform-origin: bottom;
}
.ProductItem:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.name,
.price,
.stock {
  margin: 0px 0px 0px 20px;
  line-height: 30px;
  font-size: 17px;
}
.name {
  font-weight: 900;
}
.price {
  font-family: Arial, Helvetica, sans-serif;
  color: #0066cc;
  font-weight: 600;
}
.stock {
  font-weight: 500;
}
/* Slide */
#slideshow {
  overflow: hidden;
  height: 400px;
  width: 1263px;
  margin: 0 auto;
}
.slide_wrapper {
  width: 3789px;
  animation: slide 14s ease infinite;
}
@keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -1263px;
  }
  50% {
    margin-left: -1263px;
  }
  60% {
    margin-left: -2526px;
  }
  80% {
    margin-left: -2526px;
  }
}
.buy {
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  position: relative;
  left: 50px;
}
.buy:hover {
  background-color: rgb(17, 234, 49);
  color: black;
}
.buy1 {
  position: absolute;
}
/* Giỏ Hàng */
.cart-container {
  padding: 2rem 4rem;
  background-color: rgb(255, 254, 254);
}
.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}
/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* phiếu mua hàng */
.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 444px;
  display: inline-block;
  position: relative;
  left: 333px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
  text-align: center;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 105px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
